<table>
<tr>
<th>Name</th>
<th>Flag</th>
<th>Size</th>
<th>Language</th>
<th>Population</th>
<th>Show</th>
<th>Edit</th>
<th>Delete</th>
</tr>

<% @countries.each do |country| %>
<tr>
<td><%= country.name %></td>
<td><%= image_tag(country.flag, alt: "Flag of #{country.name}", width: 100) %></td>
<td><%= country.size %></td>
<td><%= country.language %></td>
<td><%= country.population %></td>
<td><%= link_to('Show', country_path(country), {:class=>"button"}) %></td>
<td><%= link_to('Edit', edit_country_path(country), {:class=>"button"}) %></td>
<td><%= link_to('Delete', country_path(country), { :class=>"button", :method=>:delete},) %></td>
</tr>
<% end %>
</table>