<h2><%= @country.name %></h2>
<%= image_tag(@country.flag, width: 250) %>
<ul>
  <li>Name: <%= @country.name %></li>
  <li>Size: <%= number_to_human(@country.size) %> KM</li>
  <li>Population: <%= number_to_human(@country.population) %></li>
  <li>Language: <%= @country.language %></li>
</ul>