<!DOCTYPE html>
<html>
<head>
  <title>CiaApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render partial: 'layouts/header' %>
<%= render partial:'layouts/menu' %>
<div id="page-wrapper">
<%= yield %>
</div>
<div id="copyright"><p>Since this is totally secure in every way, don't tell your friends!</p></div>
</body>
</html>
